{% extends 'base.html.twig' %}

{% block main %}
    <h1>{% if byUser %}My{% endif %} Visits</h1>
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Customer</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Is Regular</th>
            <th scope="col">Service Type</th>
            <th scope="col">More Info</th>
            <th scope="col">Users</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.customer.name }}</td>
                <td>{{ visit.date|date("d-M-Y") }}</td>
                <td>{{ visit.time }}</td>
                <td>
                    {% if visit.isRegular %}
                        Regular
                    {% else %}
                        Not Regular
                    {% endif %}
                </td>
                <td>{{ visit.serviceType }}</td>
                <td>{{ visit.moreInfo }}</td>
                <td>
                    {% for user in visit.users %}
                        {{ user.username }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                {% if visit.finished %}
                    <td>
                        Done
                        <a href="{{ path('add_visit', {id: visit.customer.id}) }}">
                            <button type="button" class="btn btn-small btn-success">Add Visit</button>
                        </a>
                    </td>
                {% else %}
                    <td>
                        {% if byUser or app.getUser().isAdmin() %}
                            <a href="{{ path('finish_visit', {id: visit.id}) }}">
                                <button type="button" class="btn btn-small btn-primary">Finish</button>
                            </a><a href="{{ path('edit_visit', {id: visit.id}) }}">
                                <button type="button" class="btn btn-small btn-success">Edit</button>
                            </a><a href="{{ path('delete_visit', {id: visit.id}) }}">
                                <button type="button" class="btn btn-small btn-danger">Delete</button>
                            </a>
                        {% else %}
                            Pending
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

