{% extends 'base.html.twig' %}

{% block main %}
    <table class="table table-hover table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Email</th>
            <th scope="col">Website</th>
            <th scope="col">Monthly Tax</th>
            <th scope="col">Next Visit</th>
        </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td><a href="tel:{{ customer.phone }}">{{ customer.phone }}</a></td>
            <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
            <td><a href="{{ customer.website }}" target="_blank">{{ customer.website }}</a></td>
            <td>${{ customer.monthlyTax }}</td>
            <td>{{ customer.nextVisit|date("d-M-Y") }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

