{% extends 'base.html.twig' %}

{% block main %}
    <div class="container body-content span=8 offset=2">
        <div class="well">
                {% if customer.id %}
                     <form class="form-horizontal" action="{{ path('edit_customer', {id: customer.id}) }}" method="post">
                    <fieldset>
                    <legend>Edit {{ customer.name }}</legend>
                {% else %}
                        <form class="form-horizontal" action="{{ path('create_customer') }}" method="post">
                            <fieldset>
                    <legend>Create Customer</legend>
                {% endif %}
                {% for error in errors %}
                    <div class="alert alert-danger">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                        {{ error.message }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="name">Name</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="username" placeholder="Name" name="customer[name]"
                               required type="text" value="{{ customer.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="monthlyTax">Monthly Tax</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="monthlyTax" placeholder="Monthly Tax"
                               name="customer[monthlyTax]"
                               required type="number" step="0.01" min="0" value="{{ customer.monthlyTax }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="nextVisit">Next Visit</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="nextVisit" placeholder="Next Visit"
                               name="customer[nextVisit]"
                               type="date" value="{{ customer.nextVisit|date("F jS \\a\\t g:ia") }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="phone">Phone Number</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="phone" placeholder="Phone Number" name="customer[phone]"
                               type="text" value="{{ customer.phone }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="email">Email</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="email" placeholder="Email" name="customer[email]"
                               type="email" value="{{ customer.email }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="website">Website</label>
                    <div class="col-sm-4 ">
                        <input class="form-control" id="website" placeholder="Website" name="customer[website]"
                               type="url" value="{{ customer.website }}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label" for="moreInfo">More Info</label>
                    <div class="col-sm-4">
                    <textarea class="form-control" rows="6" id="moreInfo"
                              name="customer[moreInfo]">{{ customer.moreInfo }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-4">
                        <a class="btn btn-default" href="{{ path('all_customers') }}">Cancel</a>
                        {% if customer.id %}
                            <button type="submit" class="btn btn-success">Edit</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary">Create</button>
                        {% endif %}
                    </div>
                </div>

                {{ form_row(customer_form._token) }}
            </fieldset>
        </form>
        </div>
    </div>
{% endblock %}

