{% extends 'base.html.twig' %}

{% block main %}

    {#Main info#}
    <h1>All Info for {{ customer.name }}</h1>
    <div class="col col-lg-4">
        <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th colspan="2" scope="col">Customer Info</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Name</th>
                <td>{{ customer.name }}</td>
            </tr>
            <tr>
                <th scope="row">
                    Visits
                </th>
                <td>
                    <a href="{{ path('planned_customer_visits', {id: customer.id}) }}"><button type="button" class="btn btn-small btn-info">Planned</button></a>
                    <a href="{{ path('all_customer_visits', {id: customer.id}) }}"><button type="button" class="btn btn-small btn-primary">Past</button></a>
                    {% if customer.isActive %}
                        <a href="{{ path('add_visit', {id: customer.id}) }}"><button type="button" class="btn btn-small btn-success">Add</button></a>
                    {% endif %}
                    {% for visit in customer.visits|sortbyfield('date') %}
                        {% if visit.isFinished == false %}
                            <p>{{ visit.date|date("d-M-Y") }}</p>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th scope="row">Monthly Tax</th>
                <td>${{ customer.monthlyTax }}</td>
            </tr>
            <tr>
                <th scope="row">Is Active</th>
                {% if customer.isActive %}
                    <td>
                        Yes
                        <a href="{{ path('archive_customer', {id: customer.id}) }}"><button type="button" class="btn btn-small btn-warning">Archive</button></a>
                    </td>
                {% else %}
                    <td>
                        No
                        <a href="{{ path('activate_customer', {id: customer.id}) }}"><button type="button" class="btn btn-small btn-warning">Activate</button></a>
                    </td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row">Phone Number</th>
                <td><a href="tel:{{ customer.phone }}">{{ customer.phone }}</a></td>
            </tr>
            <tr>
                <th scope="row">Email</th>
                <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
            </tr>
            <tr>
                <th scope="row">Website</th>
                <td><a href="{{ customer.website }}" target="_blank">{{ customer.website }}</a></td>
            </tr>
            <tr>
                <th scope="row">More Info</th>
                <td>{{ customer.moreInfo }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('edit_customer', {id: customer.id}) }}">
                        <button type="button" class="btn btn-small btn-success btn-block">Edit</button>
                    </a>
                </td>
                <td>
                    <a href="{{ path('delete_customer', {id: customer.id}) }}">
                        <button type="button" class="btn btn-small btn-danger btn-block">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {#Address#}
    <div class="col col-lg-4">
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="2" scope="row">Address</th>
            </tr>
            </thead>
            <tbody>
            {% if customer.address %}
                <tr>
                    <th scope="row">Town</th>
                    <td>{{ customer.address.town }}</td>
                </tr>
                <tr>
                <tr>
                    <th scope="row">Street</th>
                    <td>{{ customer.address.street }}</td>
                </tr>
                <tr>
                    <th scope="row">Number</th>
                    <td>{{ customer.address.number }}</td>
                </tr>
                <tr>
                    <th scope="row">Floor</th>
                    <td>{{ customer.address.floor }}</td>
                </tr>
                <tr>
                    <th scope="row">Apartment</th>
                    <td>{{ customer.address.apartment }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ path('edit_address', {id: customer.id, addressId: customer.address.id}) }}">
                            <button type="button" class="btn btn-small btn-success btn-block">Edit</button>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No address available.</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <a href="{{ path('add_address', {id: customer.id}) }}">
                            <button type="button" class="btn btn-small btn-success btn-block">Add Address</button>
                        </a>
                    </td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <div class="col col-lg-4" id="map"></div>
    </div>
    {#Contacts#}
    <div class="col col-lg-4">
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th colspan="2" scope="row">Contacts</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in customer.contacts %}
                <tr>
                    <th scope="row">Name</th>
                    <td>{{ contact.name }}</td>
                </tr>
                <tr>
                    <th scope="row">Job Title</th>
                    <td>{{ contact.jobTitle }}</td>
                </tr>
                <tr>
                    <th scope="row">Phone Number</th>
                    <td><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></td>
                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ path('edit_contact', {id: contact.id}) }}">
                            <button type="button" class="btn btn-small btn-success btn-block">Edit</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ path('delete_contact', {id: contact.id}) }}">
                            <button type="button" class="btn btn-small btn-danger btn-block">Delete</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="2">
                    <a href="{{ path('add_contact', {id: customer.id}) }}">
                        <button type="button" class="btn btn-small btn-success btn-block">Add Contact</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        function initMap() {
            let address = `{{ customer.address.number }} {{ customer.address.street }} St {{ customer.address.town }} Bulgaria`;

            axios.get('https://maps.googleapis.com/maps/api/geocode/json',{
                params:{
                    address:address,
                    key: '{{ apiKey }}'
                }
            })
                .then(function (response) {
                    let coordinates = response.data.results[0].geometry.location;

                    // Map options
                    let options = {
                        zoom: 15,
                        center: coordinates
                    };

                    // New map
                    let map = new google.maps.Map(document.getElementById('map'), options);

                    let marker = {
                        coords: coordinates,
                        content:'<h3>{{ customer.name }}</h3>'
                    };

                    addMarker(marker);

                    // Add Marker Function
                    function addMarker(props){
                        let marker = new google.maps.Marker({
                            position:props.coords,
                            map:map
                        });

                        // Check content
                        if(props.content){
                            let infoWindow = new google.maps.InfoWindow({
                                content:props.content
                            });

                            marker.addListener('click', function(){
                                infoWindow.open(map, marker);
                            });
                        }
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&callback=initMap">
    </script>
{% endblock %}
